---
---
<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8' />
    <title>Blog &middot; Magento, Security, Testing - Fabian Blechschmidt</title>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.baseurl}}/feed.xml" />
    <link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.ico' type='image/x-icon' />
    <link rel='stylesheet' href='{{site.baseurl}}/fonts/open-sans.css'>
    <link rel='stylesheet' href='{{site.baseurl}}/app.css'>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35951762-2']);
        _gaq.push(['_setDomainName', 'fabian-blechschmidt.de']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
<div id='container'>

    <div id="header">
        <div class="navigation">
            <a href="{{site.baseurl}}" class="title">Home</a>
        </div>
    </div>

    <div id='main'>{{content}}</div>
</div>

<div id='footer'>
    <div class="footer-content">
        Made by <a href="http://developmentseed.org">Development Seed</a>, Source Code on <a
            href="http://github.com/prose/bootstrap">GitHub</a>
    </div>
</div>
</body>
</html>
